# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\计算机学习\【高清】2020 Git教程入门到精通（配合IDEA）黑马程序员\gittest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
